#form-container {
    margin-top: 1rem;
    height: 55vh;
}

#contact-container {
    height: 55vh;
}

#legend {
    height: 8vh;
}

#message {
    height: 10vh;
}

#navlinkHome {
    margin-top: 15px;
    color:darkgrey;
    list-style: none;
}

#footer-container {
    height: 20vh;
}

#form-grp-fname {
    color: black;
}

#form-grp-lname {
    color: black;
}

#form-grp-co {
    color: black;
}

#form-grp-phone {
    color: black;
}

#form-grp-email {
    color: black;
}

#form-grp-msg {
    color: black;
}

#txt-firstname {
    color: black;
}

#txt-lastname {
    color: black;
}

#txt-Phone {
    color: black;
}

#txt-email {
    color: black;
}

#txt-company {
    color: black;
}

#txt- {
    color: black;
}#txt-message {
    color: black;
}