#form-container {
    margin-top: 1rem;
    height: 55vh;
}

#contact-container {
    height: 55vh;
}

#legend {
    height: 8vh;
}

#message {
    height: 10vh;
}

#navlinkHome {
    margin-top: 15px;
    color:darkgrey;
    list-style: none;
}

#footer-container {
    height: 20vh;
}